nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

nav ul {
    padding: 0px;
    list-style-type: none;
}

nav li a {
    display: flex;
    width: 80%;
    height: auto;
    margin-bottom: 0.5em;
    background-color: #403233;
    padding: 1em;
    color: #EDEFE7;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav a i {
    font-size: 2rem;
    padding: 0.25rem;
}

nav a:hover, nav a:active, nav a:focus {
    background-color: #9B8816;
}

nav .dropdown {
    display: none;
    padding-left: 1em;
}

nav li:hover .dropdown {
    display: block;
}

@media (max-width: 768px) {
    nav {
        display: block;
    }
    
    nav li {
        display: inline-block;
    }
    
    nav li a {
        display: inline;
    }
    
    nav li:hover .dropdown,
    nav li:active .dropdown,
    nav li:focus .dropdown,
    nav li:focus-within .dropdown {
        display: inline-flex;
    }
}